<app-nav-bar>
  <p>Danh sách các cuốn sách</p>
</app-nav-bar>
<p>Có 3 cuốn sách</p>
<button routerLink="create">Thêm sách mới</button>
<table>
  <thead>
  <tr>
    <td>#</td>
    <td>Tên sách</td>
    <td>Tác giả</td>
    <td colspan="2">Thao tác</td>
  </tr>
  </thead>
  <ng-container *ngFor="let book of bookList">
    <tr>
      <td>{{book.id}}</td>
      <td><a [routerLink]="['books', book.id]">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td><a [routerLink]="['books', book.id, 'delete']">Xoá</a></td>
      <td><a [routerLink]="['books', book.id, 'edit']">Sửa</a></td>
    </tr>
  </ng-container>
</table>
